*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.border:hover{
    border: 1.5px solid white;
}
.body{
    min-height: 100vh;
    font: arial;
}

/* Styling NavBar */
nav{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #0f1111;
    justify-content: space-evenly;
}
/* .nav-logo{
    height: 50px;
    width: 110px;
} */
.logo{
    background-image: url(images_used/amazon_logo.png);
    height: 60px;
    width: 110px;
    background-size: cover;
    
}
.address{
    color: white;
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.deliver{
    font-size: 0.75rem;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}
.add_loc_icon{
    font-size: 0.9rem;
    display: flex;
    /* justify-content: left; */
}
.add_loc_icon p{
    font-size: 1rem;
    font-weight: 700;
    margin-left: 5px;
}
/* .icon{
    margin-right: 4.7px;
} */

/* search bar */
.search_bar{
    display: flex;
    width: 890px;
}
.search_icon{
    width: 7%;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: orange;
 }
.search_icon i{
    border: none;
}
 .search_icon:hover{
    background-color: #ff8c00;
 }
.search{
    width: 86%;
    height: auto;
    font-size: 1rem;
}
.search_bar select{
    width: 7%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgb(213, 207, 207);
    text-align: center;
}
.search_bar input{
    padding-left: 5px;
}
.search_bar select option{
    border: none;
}
select:hover{
    background-color: gray;
}
/* .search_bar:hover{
    border: 2px solid #ff8c00;
    border-radius: 4px;
} */

/* signin box */
.signin{
    height: 50px;
    width: 130px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-top: 10px;
    padding-left: 15px; */
}
.hello{
    font-size: 0.75rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: left ;
}
.account{
    font-size: 0.9rem;
    font-weight: 700;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: left ;
}

/* return and orders */
.returns_and_orders{
    height: 50px;
    width: 80px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 10px;
    padding-left: 15px; */
}
.returns{
    font-size: 0.75rem;
    text-align: left;
}
.orders{
    font-size: 0.9rem;
    font-weight: 700;
}

/* Cart */
.cart{
    height: 50px;
    width: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart_icon{
    font-size: 1.5rem;

}
.cart_text{
    font-weight: 700;
    margin-top: 10px;
}

/* panel */
.panel{
    background-color: #222f3d;
    color: white;
    height: 40px;
    display: flex;
}
.deals{
    display: flex;
}
.menu{
    padding-left: 7px;
    padding-right: 7px;
    display: flex;
    align-items: center;
}
.menu p{
    margin-left: 3px;
}
.todays_deals,.customer_Service,.registry,.gift_Cards,.sell{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 7px;
    padding-right: 7px;
}

/*hero section*/
.hero{
    background-image: url("/Projects/FrontEnd_Project\(Amazon_clone\)/images_used/hero_image.jpg");
    width: 100%;
    height: 150vh;
    background-size: contain;
    background-color: #039bbd30;
    background-repeat: no-repeat;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: flex-end;
    
}
.shopcontent{
    /* margin-top: 50%; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
    align-items: center;
}
.goto{
    display: flex;
    width: 80%;
    height: 6%;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.goto a{
    color: rgb(22, 161, 216);
}
.shop{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box{
    width:23% ;
    background-color: white;
    height: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box h2{
    margin-top: 1rem;
}
.box_content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.fash_img1{
    background-image: url("images_used/fashion1.jpg");
}
.fash_img2{
    background-image: url("images_used/fashion2.jpg");
}
.fash_img3{
    background-image: url("images_used/fashion3.jpg");
}
.fash_img4{
    background-image: url("images_used/fashion4.jpg");
}
.shop_img{
    background-size: cover;
    height: 85%;
    width: 100%;
    margin-top: 1rem;
}

.box11{
    width: 40%;
    height: 40%;
}
.box a{
    align-self: self-start;
    margin-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(22, 161, 216);
}
.game_img1{
    background-image: url("images_used/game1.jpg");
}
.game_img2{
    background-image: url("images_used/game2.jpg");
}
.game_img3{
    background-image: url("images_used/game3.jpg");
}
.game_img4{
    background-image: url("images_used/game4.jpg");
}
.refresh1{
    background-image: url("images_used/refresh1.jpg");
}
.refresh2{
    background-image: url("images_used/refresh2.jpg");
}
.refresh3{
    background-image: url("images_used/refresh3.jpg");
}
.refresh4{
    background-image: url("images_used/refresh4.jpg");
}
.shop_bigimg{
    height: 90%;
    width: 100%;
    background-size: cover;
    margin: 1rem;
}
.pcimg{
    background-image: url("images_used/pcimg.jpg");
}
.gadgetimg{
    background-image: url("images_used/gadget.jpg");
}
.gift1{
    background-image: url("images_used/gift1.jpg");
}
.gift2{
    background-image: url("images_used/gift2.jpg");
}
.gift3{
    background-image: url("images_used/gift3.jpg");
}
.gift4{
    background-image: url("images_used/gift4.jpg");
}
.top{
    background-image: url("images_used/limited.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 4rem;
}
.toys{
    background-image: url("images_used/toys.jpg");
}